<extend name="layouts/default" />
<block name="title"><title>诺尔维-首页</title></block>
<block name="content">
        <!--轮播图-->
		<div class="banner">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" >
						<img src="__PUBLIC__/home/images/banner.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="__PUBLIC__/home/images/banner2.jpg" />
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>

		<!--栏目一-->
		<div class="column column1">
			<div class="container">
				<img class="center-block h1" src="__PUBLIC__/home/images/column1.png" />
				<div class="box">
					<ul>
						<li>
							<img src="__PUBLIC__/home/images/1.png" />
							<span></span>
							<p>生物医药</p>
						</li>
						<li>
							<img src="__PUBLIC__/home/images/2.png" />
							<span></span>
							<p>酒店餐饮</p>
						</li>
						<li>
							<img src="__PUBLIC__/home/images/3.png" />
							<span></span>
							<p>食品加工</p>
						</li>
						<li>
							<img src="__PUBLIC__/home/images/4.png" />
							<span></span>
							<p>水产冷藏</p>
						</li>
						<li>
							<img src="__PUBLIC__/home/images/5.png" />
							<span></span>
							<p>花卉保鲜</p>
						</li>
						<li>
							<img src="__PUBLIC__/home/images/6.png" />
							<span></span>
							<p>科研实验</p>
						</li>
						<li>
							<img src="__PUBLIC__/home/images/7.png" />
							<span></span>
							<p>气调保鲜</p>
						</li>
						<li>
							<img src="__PUBLIC__/home/images/8.png" />
							<span></span>
							<p>冷链物流</p>
						</li>
						<li>
							<img src="__PUBLIC__/home/images/9.png" />
							<span></span>
							<p>恒温加工</p>
						</li>
						<div class="clearfix"></div>
					</ul>
				</div>
			</div>
		</div>

		<!--栏目二-->
		<div class="column column2 ">
			<div class="line"></div>
			<div class="container">
				<img class="center-block h1" src="__PUBLIC__/home/images/column2.png" />
				
				<div class="box">
					<img class="pull-left" src="__PUBLIC__/home/images/column2-1.png">
					<p class="pull-right">
						北京诺尔威制冷设备有限公司 是一家专业的制冷设备生产和冷库工程全程服务公司，提供各种型号保鲜冷库，冷藏冷库，双温冷库，组合装配式冷库，医药冷库，食品冷库，蔬果库，速冻冷库等的设计、冷库工程安装和售后服务。长期以来，公司一直以科学的管理、现代的科技和专业的人才为企业的立足之本，大力开拓适应市场需求的各种制冷产品。各种冷库产品依据于国家及行业现行冷库设计规范和设计标准，配套进口节能型冷库设备，冷库板、冷库门均为公司自有生产基地，均采用先进生产线流水线生产，保温性能世界领先、节约环保。我们一直专注制冷行业的发展与开拓，力争通过我们多年的经验与努力，为广大用户解决食品行业，医药行业，物流冷链行业，餐饮行业等保鲜，冷冻，冷藏的最佳需求。
					</p>
					<div class="clearfix"></div>
				</div>
					
			</div>
		</div>

		<!--栏目三-->
		<div class="column column3 ">		
			<div class="container">
				<img class="center-block h1" src="__PUBLIC__/home/images/column3.png" />
				<p class="text-center">我们专业从事冷库设计、生产、销售、安装、维修等冷库工程一体化方案</p>
				<div class="box">
					<div class="box-img">
						<img src="__PUBLIC__/home/images/column3-11.png" />
						<img class="z" src="__PUBLIC__/home/images/column3-1.png" />
						<p>冷库设计</p>
					</div>	
					<div class="box-img">
						<img src="__PUBLIC__/home/images/column3-22.png" />
						<img class="z" src="__PUBLIC__/home/images/column3-2.png" />
						<p>冷库安装</p>
					</div>
					<div class="box-img">
						<img src="__PUBLIC__/home/images/column3-33.png" />
						<img class="z" src="__PUBLIC__/home/images/column3-3.png" />
						<p>冷库维护</p>
					</div>		
					<div class="clearfix"></div>
				</div>
				
			</div>
		</div>

		<!--栏目四-->
		<div class="column column4 ">
			
			<img class="img-responsive center-block" src="__PUBLIC__/home/images/column4-1.png" />
		</div>

		<!--栏目五-->
		<div class="column column3 ">
			<div class="container">
				<img class="center-block h1" src="__PUBLIC__/home/images/column4.png" />
				<p class="text-center">为每一位客户量身定制冷库设计方案   以确保项目施工过程中高质量完成</p>
				<div class="box">
					<img src="__PUBLIC__/home/images/column5-1.png" />
				</div>
				
			</div>
		</div>

		<!--栏目六-->
		<div class="column column6 ">
			<div class="container">
				<img class="center-block h1" src="__PUBLIC__/home/images/column5.png" />
				<div class="box">
					<a href="case1.html" class="case">
						<img src="__PUBLIC__/home/images/case2.png" />
						<span>农副产品库/北京岳各庄批发市场</span>
					</a>
					<a href="case1.html" class="case">
						<img src="__PUBLIC__/home/images/case3.png" />
						<span>农副产品库/北京岳各庄批发市场</span>
					</a>
					<a href="case1.html" class="case">
						<img src="__PUBLIC__/home/images/case4.png" />
						<span>农副产品库/北京岳各庄批发市场</span>
					</a>
					<a href="case1.html" class="case mr">
						<img src="__PUBLIC__/home/images/case.png" />
						<span>农副产品库/北京岳各庄批发市场</span>
					</a>
					<a href="case1.html" class="case">
						<img src="__PUBLIC__/home/images/case3.png" />
						<span>农副产品库/北京岳各庄批发市场</span>
					</a>
					<a href="case1.html" class="case">
						<img src="__PUBLIC__/home/images/case4.png" />
						<span>农副产品库/北京岳各庄批发市场</span>
					</a>
					<a href="case1.html" class="case">
						<img src="__PUBLIC__/home/images/case.png" />
						<span>农副产品库/北京岳各庄批发市场</span>
					</a>
					<a href="case1.html" class="case mr">
						<img src="__PUBLIC__/home/images/case2.png" />
						<span>农副产品库/北京岳各庄批发市场</span>
					</a>
				</div>
				
			</div>
		</div>

		<!-- 栏目七 -->
		<div class="column column7 ">
			<div class="container">
				<img class="center-block h1" src="__PUBLIC__/home/images/new.png" />
				<div class="box">
					<div class="pull-left">
						<div class="head">
							<h4>
								<span class="active">行业新闻</span>
								<span>技术服务</span>
							</h4>
							<a href="news.html" class="more">More>></a>
							<span class="line"></span>
							<div class="clearfix"></div>
						</div>
						<div class="main-box">
							
							<a href="news1.html" class="main">
								<div class="date">
									<span class="day">01</span>
									<span class="year">2018/04</span>
								</div>
								<div class="title">
									<h6>访浩爽制冷总工——深度解析制冷市场</h6>
									<p>当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家。当冷链在我国...</p>
								</div>
								<div class="clearfix"></div>
							</a>
							<a href="news1.html" class="main">
								<div class="date">
									<span class="day">01</span>
									<span class="year">2018/04</span>
								</div>
								<div class="title">
									<h6>访浩爽制冷总工——深度解析制冷市场</h6>
									<p>当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家。当冷链在我国...</p>
								</div>
								<div class="clearfix"></div>
							</a>
							<a href="news1.html" class="main">
								<div class="date">
									<span class="day">01</span>
									<span class="year">2018/04</span>
								</div>
								<div class="title">
									<h6>访浩爽制冷总工——深度解析制冷市场</h6>
									<p>当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家。当冷链在我国...</p>
								</div>
								<div class="clearfix"></div>
							</a>
							<a href="news1.html" class="main">
								<div class="date">
									<span class="day">01</span>
									<span class="year">2018/04</span>
								</div>
								<div class="title">
									<h6>访浩爽制冷总工——深度解析制冷市场</h6>
									<p>当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家。当冷链在我国...</p>
								</div>
								<div class="clearfix"></div>
							</a>
						</div>
						<div class="main-box main-box2">
							<a href="news1.html" class="main">
								<div class="date">
									<span class="day">02</span>
									<span class="year">2018/04</span>
								</div>
								<div class="title">
									<h6>访浩爽制冷总工——深度解析制冷市场</h6>
									<p>当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家。当冷链在我国...</p>
								</div>
								<div class="clearfix"></div>
							</a>
							<a href="news1.html" class="main">
								<div class="date">
									<span class="day">01</span>
									<span class="year">2018/04</span>
								</div>
								<div class="title">
									<h6>访浩爽制冷总工——深度解析制冷市场</h6>
									<p>当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家。当冷链在我国...</p>
								</div>
								<div class="clearfix"></div>
							</a>
							<a href="news1.html" class="main">
								<div class="date">
									<span class="day">01</span>
									<span class="year">2018/04</span>
								</div>
								<div class="title">
									<h6>访浩爽制冷总工——深度解析制冷市场</h6>
									<p>当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家。当冷链在我国...</p>
								</div>
								<div class="clearfix"></div>
							</a>
							<a href="news1.html" class="main">
								<div class="date">
									<span class="day">01</span>
									<span class="year">2018/04</span>
								</div>
								<div class="title">
									<h6>访浩爽制冷总工——深度解析制冷市场</h6>
									<p>当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家。当冷链在我国...</p>
								</div>
								<div class="clearfix"></div>
							</a>
						</div>

					</div>
					<div class="pull-right">
						<div class="head">
							<h4>
								<span class="active" style="color: #3D3D3D;">故障分析</span>
							</h4>
							<a href="service.html" class="more">More>></a>
							<span class="line"></span>
							<div class="clearfix"></div>
						</div>
						<div class="main-box3">							
							
								<div class="swiper-wrapper2">
									<div class="bd">
										<div>
											
											<ul>
												<li class="li1"><span>Q</span><a href="service1.html">访浩爽制冷总工——深度解析制冷市场</a></li>
												<li class="li2"><span>A</span><b><a href="service1.html">当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家</a></b></li>
												
											</ul>
											<ul>
												<li class="li1"><span>Q</span><a href="service1.html">访浩爽制冷总工——深度解析制冷市场</li>
												<li class="li2"><span>A</span><b><a href="service1.html">当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家</a></b></li>
											</ul>
											<ul>
												<li class="li1"><span>Q</span><a href="service1.html">访浩爽制冷总工——深度解析制冷市场</a></li>
												<li class="li2"><span>A</span><b><a href="service1.html">当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家</a></b></li>
												
											</ul>
											<ul>
												<li class="li1"><span>Q</span><a href="service1.html">访浩爽制冷总工——深度解析制冷市场</li>
												<li class="li2"><span>A</span><b><a href="service1.html">当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家</a></b></li>
											</ul>
											
											<ul>
												<li class="li1"><span>Q</span><a href="service1.html">访浩爽制冷总工——深度解析制冷市场</a></li>
												<li class="li2"><span>A</span><b><a href="service1.html">当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家</a></b></li>
												
											</ul>
											<ul>
												<li class="li1"><span>Q</span><a href="service1.html">访浩爽制冷总工——深度解析制冷市场</li>
												<li class="li2"><span>A</span><b><a href="service1.html">当下，环保、可持续的理念逐渐从世界发达国家向发展中国家传递，越来越多的发展中国家</a></b></li>
											</ul>
											
										</div>
										
										
									</div>
									
													
								
							</div>
						</div>
						
					</div>
					<div class="clearfix"></div>
				</div>
				
			</div>
		</div>

		
		<script>
			var mySwiper = new Swiper('.swiper-container',{
				loop : true,
				autoplay : 2000,
				pagination : '.swiper-pagination',
				paginationClickable : true,
				speed:800,


			});

		</script>
</block>
		<block name="menu">